@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <link href="~/styles/demo.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="~/scripts/iscroll-probe.js"></script>
    <script src="~/scripts/ng-iscroll.js"></script>
    <script>
        angular.module("myApp", ["ng-iscroll"])
            .controller("myController", ["$scope", "$http", function (scope, http) {
                var self = this;

                self.data = [];

                self.next = function () {
                    http.post("/data/list")
                        .then(function (response) {
                            self.data.push.apply(self.data, response.data);
                            self.refreshiScroll();
                        });
                };

                self.refreshiScroll = function () {
                    scope.$parent.myScroll['wrapper'].refresh();
                };

                scope.$parent.myScrollOptions = {
                    wrapper: {
                        snap: true
                    }
                };
            }]);
    </script>
</head>
<body>
    <div id="header"><a href="http://cubiq.org/iscroll">iScroller Test</a></div>

    <div ng-app="myApp">
        <div ng-controller="myController as myCtrl" ng-init="myCtrl.next()">

            <div id="wrapper" ng-iscroll ng-iscroll-delay="50">
                <div id="scroller">
                    <ul id="thelist">
                        <li>
                            <button ng-click="myCtrl.next()">Next</button>
                            <button ng-click="myCtrl.refreshiScroll()">Refresh</button>
                        </li>
                        <li ng-repeat="num in myCtrl.data" ng-bind="'Pretty row ' + num.number"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>